// babel(바벨이란 자바스크립트 특정 타겟 버전으로 코드를 변환 해줍니다 es6 > es5) 설치
{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", { "runtime": "automatic" }] //import React 생략하기 위해 설정
  ]
}
// babel/core: 바벨이 동작하기 위해 필요한 핵심 모듈
// preset: 규칙을 담고 있는 상자


//.babelrc: 이 파일에서 어떻게 변화를 시킬지에 대한 정보를 바벨에 알려주어야합니다.
